.btn-hola{
  background: #0b2e13;
  background-color: #0b2e13;
  color: #0b2e13;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.box2:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.creation-form form.custom-form {
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font: bold 14px sans-serif;
  text-align: center;
  margin: 50px;
  color: #333;
}


.creation-form div.custom-div{
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font: 14px sans-serif;
  text-align: center;
  margin: 50px;
  color: #333;
}

.creation-form div.custom-div-top{
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font: 16px sans-serif;
  text-align: left;
  color: #333;
}

.creation-form div.custom-div-message{
  padding: 55px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font: 14px sans-serif;
  margin: 50px;
  color: #333;
}

.creation-form .custom-div h1 {
  display: inline-block;
  color: #4c565e;
  font-size: 24px;
  font-weight: bold;
  padding: 0 10px 15px;
  margin-bottom: 60px;
  border-bottom: 2px solid #DE9D3F;
}

.creation-form .custom-div-top h2 {
  display: inline-block;
  color: #4c565e;
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #DE9D3F;
}

.creation-form .custom-div h2 {
  display: inline-block;
  color: #4c565e;
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #DE9D3F;
}

.creation-form .custom-div-top a {
  text-align: left;
  color: #A2511D;
  margin-left: 20px;
  font: bold 16px sans-serif;

}

.creation-form .custom-div-top p.description {
  text-align: left;
  color: #5F5F5F;
  margin-left: 30px;
  font: 14px sans-serif;

}

@media (max-width:400px) {
  .creation-form form.custom-form {
    padding: 55px 10px;
  }
}

h1 {
  display: inline-block;
  color: #4c565e;
  font-size: 24px;
  font-weight: bold;
  margin:0 auto;
  padding: 0 10px 15px;
  margin-bottom: 60px;
  border-bottom: 2px solid #DE9D3F;
}


.creation-form .custom-form .form-group {
  margin-bottom: 25px;
}

.creation-form .custom-form .label-column {
  text-align: right;
  color: #5F5F5F;
}

.creation-form .custom-div .label-column {
  text-align: right;
  color: #5F5F5F;
  font: bold 16px sans-serif;

}

.creation-form .custom-form .checkbox-column {
  text-align: left;
  color: #5F5F5F;
}

.creation-form .custom-form .form-check-label{
  color: #5F5F5F;
  font: 14px sans-serif;
}

@media (max-width:768px) {
  .creation-form .custom-form .label-column {
    text-align: left;
  }
}

.creation-form .custom-form .input-column {
  color: #5f5f5f;
  text-align: left;
}

.creation-form .custom-form .input-column input {
  color: #5f5f5f;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  height: 42px;
}

.creation-form .custom-form .input-column textarea {
  color: #5f5f5f;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  height: 250px;
}

.creation-form .custom-form .input-column-Procedure textarea {
  color: #5f5f5f;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  height: 100px;
}

.creation-form .custom-form .dropdown .dropdown-toggle {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  outline: none;
  color: #5F5F5F;
  font: 15px sans-serif;
}


.creation-form .custom-form .dropdown ul {
  background: #fff;
}

.creation-form .custom-form .dropdown ul li a {
  background: #fff;
  color: #333;
  opacity: 0.8;
}

.creation-form .custom-form .dropdown ul li a:hover {
  opacity: 1;
}

.creation-form .custom-div .submit-button {
  border-radius: 2px;
  background: #DE9D3F;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin: 30px;
  outline: none;
}

.creation-form .custom-div .custom-button {
  border-radius: 2px;
  background: #DE9D3F;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin: 30px;
  outline: none;
}

.creation-form .custom-div .alt-submit-button {
  border-radius: 2px;
  background: #dec54e;
  color: #5f5f5f;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin: 30px;
  outline: none;
}

.creation-form .custom-form .submit-button {
  border-radius: 2px;
  background: #DE9D3F;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin: 30px;
  outline: none;
}

.creation-form .parallax{
  background-size: cover;
  padding: 50px 200px;
  margin-top: -30px;
  margin-bottom: 30px;
  background: url('../../img/img.jpg') no-repeat fixed center top;
}

.creation-form .parallax-text{
  position: relative;
  text-align: center;
  margin: auto;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
}

form-check-input{
  font: bold 14px sans-serif;
}

.text-area-observation {
  color: #5f5f5f;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  height: 100px;
  width: 90%;
}

.text-area-grade {
  color: #5f5f5f;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}
