.msg {
  margin: auto;
  width: 65%;
  border: 1px solid #c4c4c4;
}

.msg-header-no-hover {
  background-color: #E5E6E4;
  color: #595959;
}

.msg-header-no-hover-unread{
  background-color: #c5e6b0;
  color: #595959;
}

.referer {
  padding-left: 2.5%;
  font-size: 15px;
}

.subject {
  font-weight: bold;
  padding-top: 1%;
  padding-left: 2.5%;
  font-size: 20px;
}

.msg-text:last-child {
  font-size: 15px;
  color: #595959;
}