.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
    background: #ff1f1 none repeat scroll 0 0;
    float: left;
    direction: rtl;
    overflow: auto;
    width: 40%; border-right:0px;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    direction: ltr;
}
.heading_srch{ padding:10px 29px 10px 20px;
    overflow:hidden;
    border-bottom:1px
    solid #DE9D3F;
    background: #DE9D3F;
    border-bottom: 1px solid #c4c4c4;
    min-height: 55px;
}

.recent_heading h4 {
    color: #ffffff;
    font-size: 21px;
    margin: auto;
}
.srch_bar input{ border:1px solid #ffffff; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background-color: #ffffff;
    opacity: .2;}
.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #ffffff;
    font-size: 18px;
    float: right;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people{ overflow:hidden; clear:both;direction: ltr;}
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    border-right:1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

/*MISSATGES*/

.mesgs {
    float: left;
    width: 60%;
}

.msg_history {
    height: 550px;
    padding-left: 2%;
    padding-right: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}