

.timetable-workout {
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #DE9D3F;
    font-weight: 700;
}

.timetable-ch {
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #2b4ead;
    font-weight: 700;
}

.timetable-workout,.timetable-ch,.timetable.table>tbody>tr>td {
    color: #fff;
}

.timetable,.table>tbody>tr>th {
    font-size: 14px;
    vert-align: middle;
    letter-spacing: 1px;
    font-weight: 700;
}

.timetable,.table>thead>tr>th {
    font-size: 14px; vert-align: middle;
    letter-spacing: 1px;
    font-weight: 700;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.box-table {
    padding: 16px 30px;
    margin: 0 -15px 15px;
    border: 1px solid #eee;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vert-align: middle;
    border-top: transparent;
    color: #26282c;
    border-bottom: 1px solid #eee;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eee;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: hsla(39.17, 97.65%, 57.42%, 0.08);
}

.mb30{
    margin-bottom:30px;
}